section {
  background-color: rgba(255, 179, 0, 0.896);
  color: #0a1524;
  padding: 2rem;
  text-align: center;
}
 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
 .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-row-item {
  flex: 0;
}

p {
  flex: 1;
  font-size: 30px;
  color: #2e323b
}
.main-text {
  font-size: 3.2rem;
  color: #0a1524;
}
 img {
  order: 2;
  width: 25%;
}
 @media (min-width: 768px) {
  .flex-row {
  flex-wrap: nowrap;
  }
  .flex-row-item {
    flex-basis: 50%;
  }
   img {
    order: 1;
    width: 100%;
    margin-bottom: 1rem;
  }
}
/* img {
width: 50%;
}  */

